
<!-- <script src="/assets/js/HighCharts/highcharts.js"></script>
<script src="/assets/js/HighCharts/highcharts-3d.js"></script>
<script src="/assets/js/HighCharts/exporting.js"></script>
<script src="/assets/js/HighCharts/export-data.js"></script> -->

<script src="/assets/js/jquery.min.js"></script> 
<script src="../../../assets/js/datatables/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="../../../assets/css/datatables/jquery.dataTables.min.css"/>

<script src="/assets/js/moment.js"></script>

<script src="/assets/js/core.js"></script> 


<style>

#lab-stats-table {
  width: 96%;
}

.stat-boxes th {
  height: 40px;
}

.screening-names {
  text-align: left !important;
  padding-left: 5px !important;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.counts {
  text-align: right !important;
  padding-right: 5px !important;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

</style>

<div id='lab-stats'>

<table id='lab-stats-table'>
  <thead>
    <tr class='stat-boxes'>
      <th>Screening method</th>
      <th>Count</th>
    </tr>
  </thead>
</table>


</div>

<script>

function dashboardStats(stats) {
  for(const name in stats){
    data_table.row.add([name, stats[name]]).draw();
  }
}

function fetchDashboardStats() {
  var url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1";
  url += "/dashboard_stats?date=" + sessionStorage.sessionDate;
  url+= "&program_id=" + sessionStorage.programID;

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
      var obj = JSON.parse(this.responseText);
      dashboardStats(obj);
    }
  };
  xhttp.open("GET", url, true);
  xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
  xhttp.setRequestHeader('Content-type', "application/json");
  xhttp.send();
}

var data_table;

function initializeTable() {
  data_table = $('#lab-stats-table').DataTable({
      fixedHeader: true,
      searching: false,
      paging: false,
      info: false,
      scrollY: 310,
      scroller: {
          loadingIndicator: true
      },
      columnDefs: [
        {"className": "screening-names", "targets": 0},
        {"className": "counts", "targets": 1}
      ],
      order: [[0, 'asc']]
  });
}

setTimeout("fetchDashboardStats()", 200);
initializeTable();
</script>

