



<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<!--script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css"-->
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<!--script type="text/javascript" src="/assets/js/does_connection_exist.js"></script-->
<link rel="stylesheet" href="/assets/css/provider.css" type="text/css">
<script type="text/javascript" src="/assets/js/provider.js  "></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">


<link rel="stylesheet" href="treatment.css" type="text/css">
<script type="text/javascript" src="treatment.js"></script>



<body id="mateme">
  <div id="container">
      <div id="content">
  
          <form>
        
              <select allowFreeText="false" helpText="Treatment Performed" 
                id="select_referral_outcome" name="select_referral_outcome" 
                tt_onLoad="addAttributes();checkIfInBDMode();" key="select_referral_outcome">
                <option value=""></option>
                <option value="Cryotherapy">Cryotherapy</option>
                <option value="Leep">Leep</option>
                <option value="Thermocoagulation">Thermocoagulation</option>
                <!--option value="Surgery">Surgery</option>
                <option value="Palliative care">Palliative care</option-->
                <option value="Other">Other</option>
              </select>


              <!--select allowFreeText="false" helpText="Select Cancer treatment" 
                 id="select_cancer_treatment" name="select_cancer_treatment" 
                 condition="selectedCancerConfirmed() == true"
                 tt_onLoad="createEndFunction();" key="select_cancer_treatment">
                 <option value=""></option>
                 <option value="Surgery">Surgery</option>
                 <option value="Chemotherapy">Chemotherapy</option>
                 <option value="Palliative care">Palliative care</option>
                 <option value="Other">Other</option>
              </select-->

              

          </form>
  
      </div>
  </div>

  <div id="page-load-cover"></div>
</body>