



<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<!--script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css"-->
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<!--script type="text/javascript" src="/assets/js/does_connection_exist.js"></script-->
<link rel="stylesheet" href="/assets/css/provider.css" type="text/css">
<script type="text/javascript" src="/assets/js/provider.js  "></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">


<link rel="stylesheet" href="treatment.css" type="text/css">
<script type="text/javascript" src="treatment.js"></script>



<body id="mateme">
  <div id="container">
      <div id="content">
  
          <form>

            <input type="text" name="summary"
             tt_onLoad="__$('keyboard').style.display = 'none'; buildSummaryPage();"
             tt_pageStyleClass="NoControls" 
             helpText="Screening summary" optional="true"/>


            <select allowFreeText="false" helpText="FIGO staging results" 
                id="figo_staging_results" name="figo_staging_results"
                condition = "referral_reason.match(/suspect/i)" 
                tt_onLoad="checkIfInBDMode();" key="figo_staging_results">
                <option value=""></option>
                <option value="Cervical stage 1">Cervical stage 1</option>
                <option value="Cervical stage 2">Cervical stage 2</option>
                <option value="Cervical stage 3">Cervical stage 3</option>
                <option value="Cervical stage 3">Cervical stage 4</option>
                <option value="Not available">Not available</option>
              </select>

              <select allowFreeText="false" helpText="Type of sample collected" 
                id="type_of_sample_collected" name="type_of_sample_collected" 
                condition = "showSampleCollected() == true" 
                tt_onLoad="addExtras();" key="type_of_sample_collected">
                <option value=""></option>
                <option value="Punch Biopsy">Punch Biopsy</option>
                <option value="LLETZ sample">LLETZ sample</option>
                <option value="Not available">Not available</option>
              </select>

              <select allowFreeText="false" helpText="Histology results" 
                id="histology_results" name="histology_results" 
                condition="$('type_of_sample_collected').value != 'Not available' && showSampleCollected() == true"
                tt_onLoad="" key="histology_results">
                <option value=""></option>
                <option value="Normal">Normal</option>
                <option value="CIN 1">CIN 1</option>
                <option value="CIN 2">CIN 2</option>
                <option value="CIN 3">CIN 3</option>
                <option value="Carcinoma in Situ">Carcinoma in Situ</option>
                <option value="Invasive cancer of cervix">Invasive cancer of cervix</option>
                <option value="Benign cervical warts">Benign cervical warts</option>
                <option value="Not available">Not available</option>
              </select>

              <select allowFreeText="false" helpText="Complications" 
                id="complications" name="complications" 
                condition="$('histology_results').value != 'Not available' && showSampleCollected() == true"
                tt_onLoad="" key="complications">
                <option value=""></option>
                <option value="Bleeding">Bleeding</option>
                <option value="Pain">Pain</option>
                <option value="None">None</option>
              </select>


              <select allowFreeText="false" helpText="Treatment Performed" 
                id="select_referral_outcome" name="select_referral_outcome" 
                tt_onLoad="" key="select_referral_outcome">
                <option value=""></option>
                <option value="Hysterectomy">Hysterectomy</option>
                <option value="Cryotherapy">Cryotherapy</option>
                <option value="Leep">Leep</option>
                <option value="Palliative Care">Palliative Care</option>
                <option value="LLETZ">LLETZ</option>
                <option value="Conisation">Conisation</option>
                <option value="Thermocoagulation">Thermocoagulation</option>
                <option value="Chronic cervicitis">Chronic cervicitis</option>
                <option value="Patient refused">Patient refused</option>
              </select>

              <select allowFreeText="false" helpText="Recommended Plan of care" 
                id="recommended_plan_of_care" name="recommended_plan_of_care" 
                tt_onLoad="" key="recommended_plan_of_care">
                <option value=""></option>
                <option value="Hysyerectomy">Hysyerectomy</option>
                <option value="Trachelectomy">Trachelectomy</option>
                <option value="Discharged">Discharged</option>
                <option value="Continue follow-up">Continue follow-up</option>
              </select>

              <select allowFreeText="false" helpText="Patient outcome" 
                id="patient_outcome" name="patient_outcome" 
                tt_onLoad="addEndFunction();" key="patient_outcome">
                <option value=""></option>
                <option value="Continue follow-up">Continue follow-up</option>
                <option value="Palliative Care">Palliative Care</option>
                <option value="No Dysplasia/Cancer">No Dysplasia/Cancer</option>
                <option value="Patient died">Patient died</option>
              </select>


              

          </form>
  
      </div>
  </div>

   <img src="/../../assets/images/formloader.gif" id="spinner" />  
  <div id="report-cover"></div>
</body>