



<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<!--script type="text/javascript" src="/assets/js/does_connection_exist.js"></script-->
<link rel="stylesheet" href="/assets/css/provider.css" type="text/css">
<script type="text/javascript" src="/assets/js/provider.js  "></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">


<link rel="stylesheet" href="via.css" type="text/css">
<script type="text/javascript" src="via.js"></script>



<body id="mateme">
  <div id="container">
      <div id="content">
  
          <form>
            <!-- checkIfInBDMode(); -->

              <input type="text" name="summary"
                     tt_onLoad="__$('keyboard').style.display = 'none';addViaYesNo();checkIfInBDMode();newVIAclient();"
                     tt_pageStyleClass="NoControls" helpText="Ever had VIA" optional="true"/>
  
              <input type="text" name="summary"
                     tt_onLoad="__$('keyboard').style.display = 'none';setNextBTN();addViaResultsAvailableYesNo();"
                     condition="showResultsAvailable() == true;"
                     tt_pageStyleClass="NoControls" helpText="Results available" optional="true"/>
 
                     







                <!--    Previous VIA data starts ......................................................... --> 
              

                <select objectType="location" ajaxURL="/locations?name=" allowFreeText="true"
                    condition="enterPreviousVIAdata() == true;"
                    field_type="alpha" helpText="VIA location" id="via_location"
                    name="via_location"
                    tt_onUnLoad="hideCategory();"
                    tt_onLoad="ShowCategory2('Previous VIA assessment');">
                </select>


                <input condition="enterPreviousVIAdata() == true;" 
                    field_type="number"
                    helpText="Previous VIA test year" 
                    id="via_test_year"
                    name="via_test_year"
                    tt_onLoad="$('Unknown').style.display = 'inline';ShowCategory2('Previous VIA assessment');"
                    tt_onUnLoad="hideCategory();"
                    tt_pageStyleClass="Numeric NumbersOnly" type="text"/>


                <select allowFreeText="false" condition="enterPreviousVIAdata() == true && $('via_test_year').value.toUpperCase() == 'UNKNOWN'"
                    helpText="Estimated time since last VIA test" id="previous_via_date_estimation"
                    name="previous_via_date_estimation" ttMatchFromBeginning="true"
                    tt_onLoad="ShowCategory2('Previous VIA assessment');"
                    tt_onUnLoad="hideCategory();">
                    <option value=""></option>
                    <option value="6 months">6 months</option>
                    <option value="12 months">12 months</option>
                    <option value="18 months">18 months</option>
                    <option value="24 months">24 months</option>
                    <option value="Over 2 years">Over 2 years</option>
                </select>

                <select condition="$('via_test_year').value.toLowerCase() != 'unknown' && enterPreviousVIAdata() == true;"
                    helpText="VIA test month" id="via_test_month"
                    name="via_test_month"
                    tt_onUnLoad="hideCategory();"
                    tt_onLoad="__$('keyboard').style.display = 'none';configureVIAtestMonthCSS();ShowCategory2('Previous VIA assessment');">
                    <option value=""></option>
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Apr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Aug</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                    <!--<option value="Unknown">Unknown</option>-->
                </select>

                <input condition="enterPreviousVIAdata() == true && $('via_test_year').value.toLowerCase() != 'unknown';"
                   field_type="number" 
                   helpText="VIA test day" id="via_test_day"
                   name="via_test_day"
                   tt_onLoad="ShowCategory2('Previous VIA assessment');getDayOfMonthPicker($('via_test_year').value, $('via_test_month').value);$('nextButton').style.display = 'block';"
                   tt_onUnLoad="hideCategory();" type="text" />

                <select allowFreeText="false" helpText="Previous VIA Test Results" 
                   id="previous_via_test_results" name="previous_via_test_results" 
                   condition="enterPreviousVIAdata() == true"
                   tt_onUnLoad="hideCategory();"
                   tt_onLoad="ShowCategory2('Previous VIA assessment');" key="previous_via_test_results">
                   <option value=""></option>
                   <option value="Negative">Negative</option>
                   <!--option value="Positive">Positive</option-->
                   <option value="Suspect">Suspect</option>
                </select>

                <!--    Previous VIA data ends ......................................................... --> 

















              <input type="text" name="summary"
                     tt_onLoad="__$('keyboard').style.display = 'none';addOfferViaYesNo();"
                     tt_pageStyleClass="NoControls" helpText="Offer VIA" optional="true"/>
                    
               <select allowFreeText="false" helpText="VIA Test Results" 
                 id="via_test_results" name="via_test_results" 
                 condition="showTestResults() == true"
                 tt_onLoad="endNextBTN();" key="via_test_results">
                 <option value=""></option>
                 <option value="Negative">Negative</option>
                 <option value="Positive">Positive</option>
                 <option value="Suspect">Suspect</option>
              </select>

              <select allowFreeText="false" helpText="Reason for denying VIA" 
                  id="reason_for_no_via" name="reason_for_no_via" 
                  condition="showTestResults() == false"
                  tt_onLoad="setReasonForNoVIA();" key="reason_for_no_via">
                  <option value=""></option>
                  <option value="Client preferred counseling">Client preferred counseling</option>
                  <option value="Not applicable">Not applicable</option>
              </select>
              
          </form>
  
      </div>
  </div>

  <div id="page-load-cover"></div>
  
  </body>